.container {
    margin: 0;
    padding: 0;
    max-width: 720px;
    width: 100%;
    min-height: 539px;
    max-height: 718px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c21;
    border-radius: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .closeButton{
    top: 60px;
    right: 40px;
    position: absolute;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  .closeButton:hover{
    opacity: 0.5;
  }