.burgerConstSection {
    width: 600px;
    height: 912px;
}

.burgerConstContainer {
    width: 600px;
    max-height: 696px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 100px;
    align-items: center;
    box-sizing: border-box;
}

.burgerConstItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burgerConstList{
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: scroll;
    padding-right: 8px;
}

.burgerConstList::-webkit-scrollbar {
    width:  8px;
}

.burgerConstList::-webkit-scrollbar-track {
    background: #2f2f37;
}

.burgerConstList::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}